<!DOCTYPE html>
<html lang="<%= lang.code %>">
<head>
	<title><%= lang.title %></title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<% if (lang.code == "en") { %>
		<link href="main.min.css" rel="stylesheet" type="text/css"/>
		<link href="foundation.min.css" rel="stylesheet" type="text/css"/>
	<% } else { %>
		<link href="../main.min.css" rel="stylesheet" type="text/css"/>
		<link href="../foundation.min.css" rel="stylesheet" type="text/css"/>
	<% } %>
	<style>
	body{
		background-color: #FBC02D;
		color: black;
		font-family: sans-serif;
	}

.push_button_purple{
	background-color: #635CFF;
	width: calc( 100% - 30px);
	text-decoration:none;
	box-shadow:
<% for(var i=0;i<25;i++) { %> 
 <%=i%>px <%=i+1%>px #3026FF,
 <%=i+1%>px <%=i-1%>px #0800AB
 <% if(i!=24){ %>
	 ,
 <% } %>
<% } %>
	;
}
	</style>
</head>
<body>

<div id="welcome" class="row push_button_purple">
	<h1><%= lang.title %></h1>
	<h4><%= lang.description %></h4>
</div>

<br>

<div class="row">
	<div class="hide-for-medium small-1 columns"></div>
	<div class="columns row collapse">
		<div class="small-12 large-4 columns push_button_adsense">
		AdSense
		</div>
		<div class="small-12 large-4 columns push_button_pick">
		Pick of the month
		</div>
		<div class="small-12 large-4 columns push_button_share">
		Share buttons
		</div>
	</div>
	<div class="hide-for-medium small-1 columns"></div>
</div>

<br>
<br>

<!-- Add here addons -->
<%
	var all=new Array;
	var triple=new Array;
	for(var id in addons){
		all.push(id);
	}
	while (all.length > 0) {
	  triple.push(all.splice(0,3));
	}
for(var i=0;i<triple.length;i++) { %>
	<div class="row">
		<div class="hide-for-medium small-1 columns"></div>
		<div class="columns row collapse">
			<% for(var j=0;j<triple[i].length;j++) { %>
				<div class="addon small-12 large-4 columns collapse push_button_<%= triple[i][j] %>" data-info="<%= lang.code %>/addon/<%= triple[i][j] %>">
					<img src="<%= imgPrefix %><%= addons[triple[i][j]].icon %>" alt="<%= addons[triple[i][j]].name %>">
					<h3><%= addons[triple[i][j]].name %></h3>
					<% if (addons[triple[i][j]].description[lang.code]) { %>
						<p><%= addons[triple[i][j]].description[lang.code].split("\n")[0] %></p>
					<% } else { %>
						<p><%= addons[triple[i][j]].description["en"].split("\n")[0] %></p>
					<% } %>
					<div id="compat-logos">
						<% if(addons[triple[i][j]].compatible.indexOf("firefox") > -1) { %>
							<img src="<%= imgPrefix %>firefox.png" alt="Firefox" style="width: 48px;">
						<% } %>
						<% if(addons[triple[i][j]].compatible.indexOf("fennec") > -1) { %>
							<img src="<%= imgPrefix %>android48.png" alt="Fennec" style="width: 48px;">
						<% } %>
						<% if(addons[triple[i][j]].compatible.indexOf("thunderbird") > -1) { %>
							<img src="<%= imgPrefix %>thunderbird.png" alt="Thunderbird" style="width: 48px;">
						<% } %>
						<% if(addons[triple[i][j]].compatible.indexOf("seamonkey") > -1) { %>
							<img src="<%= imgPrefix %>seamonkey.png" alt="SeaMonkey" style="width: 48px;">
						<% } %>
					</div>
					<a class="download" href="http://adf.ly/4869054/<%= addons[triple[i][j]].download %>" target="_blank"><%= lang.download %></a>
					<br>
					<small><%= lang.tap %></small>
				</div>
			<% } %>
		</div>
		<div class="hide-for-medium small-1 columns"></div>
	</div>
	<br>
	<br>
<% } %>

<div class="row">
	<div class="hide-for-medium small-1 columns"></div>
	<div class="columns row collapse">
		<div class="small-12 large-4 columns push_button_adsense">
		Amazon
		</div>
		<div class="small-12 large-4 columns push_button_pick">
		MailChimp
		<button>CLICK</button>
		</div>
		<div class="small-12 large-4 columns push_button_share">
		Contact
		</div>
	</div>
	<div class="hide-for-large small-1 columns"></div>
</div>

<br>
<br>

<script>
var addon=document.getElementsByClassName("addon");
for(var i=0;i<addon.length;i++) {
	addon[i].addEventListener("transitionend",function(evt){
		window.location.href=evt.target.dataset.info;
	});
}
</script>

</body>


</html>

